.profile-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem;
  box-sizing: border-box;
}

.user-profile-banner {
  max-width: 100%;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.profile-banner-upload {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.username-profile-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-inline: 12rem;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.profile-calendar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
}

.solution-table-query-container {
  margin-inline: 10rem;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 1000px) {
  .skill-tag-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
  }
  .solution-table-query-container {
    width: 100%;
    margin-inline: 0;
  }
  .username-profile-container {
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 734px) {
  .user-details-container {
    flex-direction: row;
    justify-content: center;
  }
}
