.profile-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem;
  box-sizing: border-box;
}

.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  gap: 3rem;
}

@media only screen and (max-width: 1150px) {
  .user-profile-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .profile-page-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 540px) {
  .user-profile-wrapper {
    flex-wrap: wrap;
  }
}
