.profile-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}
