.solution-container {
  position: relative;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  background-color: #18171c;
  padding: 1rem;
  color: white;
  width: 90vw;
  height: 80vh;
  font-size: 1.25rem;
}

.leetcode-title {
  font-size: 1.5rem;
}

.problem-block {
  background-color: #2a2a2a;
  box-sizing: border-box;
  width: 40vw;
  overflow-y: scroll;
}

pre {
  background-color: rgb(26, 26, 26);
  white-space: pre-line;
  padding: 0.5rem;
  padding-right: 1rem;
}

.solution-block {
  background-color: #2a2a2a;
  width: 50vw;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.modal-content {
  padding: 1rem;
}

.solution-code {
  overflow: auto;
}

@media only screen and (max-width: 1000px) {
  .solution-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    gap: 1rem;
  }

  .problem-block {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-bottom: 4px solid white;
  }

  .solution-block {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
