.skill-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  max-width: 250px;
}

.skill-tags-selected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.skill-tag {
  width: fit-content;
  background-color: #e9ecef;
  color: black;
  font-size: 1.15rem;
  padding: 0.25rem;
  padding-inline: 1rem;
  border-radius: 12px;
  border: 0;
}

.skill-tag:hover {
  cursor: pointer;
  background-color: rgba(163, 48, 163, 0.5);
  color: white;
}

@media only screen and (max-width: 1150px) {
  .skill-tag-container {
    flex-direction: row;
    flex-wrap: wrap;

    max-width: none;
  }
}
