.solution-header {
  /* border-radius: 8px 8px 0px 0px; */
  background-color: rgba(0, 0, 0, 0.25);
}

.solution-table-body {
  padding: 1px;
  border: 0;
  margin: 0;
}

.solution-table-row {
  color: white;

  font-family: "robotoReg";
}

.tag-container {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  width: 150px;
  left: 65%;
  top: 0.25rem;
  padding: 0.75rem;
  border-radius: 8px;
}
