.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: 10;
  padding: 0.25rem;

  transition-property: height, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.navbar-container-condensed {
  height: 50px;
}

.katsudon-logo {
  font-size: 3.5rem;
  color: white;

  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.katsudon-logo-condensed {
  font-size: 3rem;
}

.navbar-menu {
  display: none;
}

.navbar-redirect-section {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  max-width: 1200px;
  height: 100%;
  padding-inline: 2rem;
}

.navbar-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar-redirect-link {
  font-size: 1.5rem;
  color: white;
  width: fit-content;
}

@media only screen and (max-width: 800px) {
  .navbar-container {
    height: 50px;
  }

  .navbar-redirect-link {
    display: none;
  }
  .redirect-links {
    display: none;
  }
  .navbar-redirect-section {
    justify-content: center;
    padding: 0;
  }
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .katsudon-logo {
    margin-left: -10vw;
    font-size: 3rem;
  }
}

.MuiList-root {
  background-color: rgba(0, 0, 0);
  color: white;
  border-radius: 0;
}
