.user-page-content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.user-page-search-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: fit-content;
}

.user-page-user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  row-gap: 1rem;
  width: 250px;
  height: 350px;
}

@media only screen and (max-width: 900px) {
  .user-page-content-container {
    justify-content: center;
  }
}
